In [98]:
import pandas as pd 
df = pd.read_csv("relabeled_first_half.csv") 
df.head()

   label                                             tweets
0      0  Not a single ISIS flag is flying as far as the...
1      0                              @ni04Ep3Xt4lcCqT ISIS
2      0  Islamic State group: Syria's Kurds call for in...
3      0                 #YPJ celebrates success over #ISIS
4      0                                   Not today, Isis

In [99]:
len(df)

7294

In [100]:
df_isis = pd.read_csv("tweets.csv")
df_isis.head()

,label,description,tweets
0,NaN,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,ENGLISH TRANSLATION: 'A MESSAGE TO THE TRUTHFU...
1,NaN,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,ENGLISH TRANSLATION: SHEIKH FATIH AL JAWLANI '...
2,NaN,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,ENGLISH TRANSLATION: FIRST AUDIO MEETING WITH ...
3,NaN,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,ENGLISH TRANSLATION: SHEIKH NASIR AL WUHAYSHI ...
4,NaN,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,ENGLISH TRANSLATION: AQAP: 'RESPONSE TO SHEIKH...

In [101]:
df_isis['label'] = 1

In [102]:
df_isis.head()

,label,description,tweets
0,1,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,ENGLISH TRANSLATION: 'A MESSAGE TO THE TRUTHFU...
1,1,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,ENGLISH TRANSLATION: SHEIKH FATIH AL JAWLANI '...
2,1,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,ENGLISH TRANSLATION: FIRST AUDIO MEETING WITH ...
3,1,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,ENGLISH TRANSLATION: SHEIKH NASIR AL WUHAYSHI ...
4,1,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,ENGLISH TRANSLATION: AQAP: 'RESPONSE TO SHEIKH...

In [103]:
df_isis = df_isis.drop(columns=['description'])

In [104]:
df_isis.head()

   label                                             tweets
0      1  ENGLISH TRANSLATION: 'A MESSAGE TO THE TRUTHFU...
1      1  ENGLISH TRANSLATION: SHEIKH FATIH AL JAWLANI '...
2      1  ENGLISH TRANSLATION: FIRST AUDIO MEETING WITH ...
3      1  ENGLISH TRANSLATION: SHEIKH NASIR AL WUHAYSHI ...
4      1  ENGLISH TRANSLATION: AQAP: 'RESPONSE TO SHEIKH...

In [105]:
frames = [df, df_isis]
df = pd.concat(frames)

In [107]:
df.head()

   label                                             tweets
0      0  Not a single ISIS flag is flying as far as the...
1      0                              @ni04Ep3Xt4lcCqT ISIS
2      0  Islamic State group: Syria's Kurds call for in...
3      0                 #YPJ celebrates success over #ISIS
4      0                                   Not today, Isis

In [76]:
from sklearn.utils import shuffle
df = shuffle(df)

In [108]:
df.head()

   label                                             tweets
0      0  Not a single ISIS flag is flying as far as the...
1      0                              @ni04Ep3Xt4lcCqT ISIS
2      0  Islamic State group: Syria's Kurds call for in...
3      0                 #YPJ celebrates success over #ISIS
4      0                                   Not today, Isis

In [109]:
df['label'].value_counts()

1    17410
0     7294
Name: label, dtype: int64

df_first = df[:10000]
df_second = df[10000:20000]
df_third = df[20000:25000]
df_fourth = df[25000:]

df_first.to_csv('first.csv')
df_second.to_csv('second.csv')
df_third.to_csv('third.csv')
df_fourth.to_csv('fourth.csv')

In [4]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sns

import nltk
nltk.download('wordnet')

from nltk.stem import WordNetLemmatizer 
from wordcloud import WordCloud

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\vdoan\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [5]:
data = df['Text'].values.tolist()

data = [re.sub("\'", "", sent) for sent in data]

NameError: name 're' is not defined

In [78]:
def partition(X, y, t):
    X_test = X[:int(t*len(X))]
    y_test = y[:int(t*len(y))]
    X_train = X[int(t*len(X)):]
    y_train = y[int(t*len(y)):]
    
    return X_train, y_train, X_test, y_test
df.dropna(inplace=True)

X = df['tweets']
y = df['label']

# X = (X - X.mean())/X.std()

X_train, y_train, X_test, y_test = partition(X, y, 0.2)

In [79]:
len(X_train)

11783

In [80]:
len(y_train)

11783

X_train = np.array(df["Text"])

In [8]:
X_train

1459    @PamelaGeller  @TheDemocrats  @Ilhan  @Rashida...
1460     @jack_obrien called white extremist Vanilla Isis
1461    British Teen dubbed 'Osama Bin Bieber' Who Joi...
1462    ISIS fanatic captured in Syria just wants to e...
1463    @LeaveEUOfficial Labour would just let the ent...
1464    @akemor You don't have the slightest clue what...
1465     Watching these ISIS militants fight is cringy af
1466    ISIS fanatic captured in Syria just wants to e...
1467                                               #NAME?
1468    @Giveanid_ You r pakistani agent. Go  to siriy...
1469    @myogiadityanath Rahul is fighting election wi...
1470    Improved security conditions in #Kandahar lead...
1471    @bushontheradio when did you join isis Bush ma...
1472    Hoda Muthana should NEVER be allowed back into...
1473    HaHaHa! The only way ISIS can save their futur...
1474    CNN - INTERNATIONAL_THE LEAST  TRUSTED  NAME_I...
1475                                                 ISIS
1476    Isis bride screwed up now live with it. She th...
1477    @capt_amarinder Sir, 1 dy we die bt Pls Sve ur...
1478    @RT_com You can wear whatever you want except ...
1479    @guardian Martin Selner is a terrorist because...
1480    @darinp2 @charliekirk11 @realDonaldTrump Where...
1481    ISIS fanatic captured in Syria just wants to e...
1482    Targeted #ISIS accounts   #targets #iceisis #o...
1483     Very funny! Would be funnier if it wasn't so ...
1484    ISIS fanatic captured in Syria just wants to e...
1485    Islamist States Claims Responsibility Of Abduc...
1486    @rssurjewala Sir, 1 dy we die bt Pls Sve ur G....
1487       That interview with the ISIS bride says it all
1488    @jordanbpeterson Because ISIS was created to l...
                              ...
7264    @JewsMatterToMe Now I get it, you're emotional...
7265    Now INDIA GOVT. CORRUPTED ARMY should take rig...
7266    This update can\'t finished without some borin...
7267    @TrumpWarRoom @RickPamplin @JerryNadler When w...
7268    How Trump Betrayed the General Who Defeated ISIS
7269    India having own TERRORIST MODULE's safe heave...
7270    Erdogan to be Trump's fixer'against IS in Syri...
7271    @itsnicholaifyi @nzpolice So why dont we hide ...
7272    @kealyj I was always a bit lukewarm about Isis...
7273    @RealKyleMorris @StumpforTrump @PressSec Per @...
7274    @GrantTucker Ha very good. - I knew someone ca...
7275                 Check the last month's update here:
7276    @top10kazmi @HamasInfoEn But you support Hamas...
7277    @markrobertson6 @JustinTrudeau @PresidentRuvi ...
7278    How SC Dr. Kanchana Gopinath SONY INDIA PVT. L...
7279    @AhmedLoonat You disingenuous, disturbingly ar...
7280    @IlhanMN prove you're not ISIS sympathizer by ...
7281    How Trump Betrayed the General Who Defeated ISIS
7282    Not even that now also a SC greedy LADY "CHUDN...
7283    How SC Dr. Kanchana Gopinath SONY INDIA PVT. L...
7284                      @TheSun Kill all Isis . Please
7285    There Are No Girls Left: Syrias Christian Vill...
7286    New pro-ISIS poster threatens United States an...
7287    To understand why people in Rojava claim that ...
7288    There were 190,410 layoffs in the first quarte...
7289    Free a hero now for killing an ISIS terrorist,...
7290    Ravelock Owen Van Atwell Solomon Le Bonefield ...
7291    @KimStrassel @drawandstrike Per @heyitsCarolyn...
7292    @MohammedAkunjee Where's the money coming from...
7293    Not to neglect the exiles. But they already ha...
Name: tweets, Length: 5831, dtype: object

In [9]:
type(np.array(X_train)[0])

str

In [11]:
nltk.word_tokenize(np.array(X_train)[4])

['@',
 'LeaveEUOfficial',
 'Labour',
 'would',
 'just',
 'let',
 'the',
 'entire',
 'third',
 'world',
 'move',
 'here',
 'if',
 'they',
 'got',
 'in',
 '.',
 'Like',
 'they',
 'do',
 'every',
 'time',
 'they',
 'get',
 'in',
 '.',
 'Corbyns',
 'regime',
 'would',
 'be',
 'like',
 'that',
 'madhouse',
 'Swedish',
 'government',
 'who',
 'gives',
 'taxpayer',
 'funded',
 'condo',
 "'s",
 'to',
 'returning',
 'ISIS',
 'members',
 '.']

In [18]:
np.array(X_train)[0]

'@IanDunt Retweet some ISIS stuff then, Jacob.'

In [38]:
X_train = np.array(X_train)

In [81]:
lemmatizer = WordNetLemmatizer()

X_train_lemmatized = []

for i in range(len(X_train)):
    word_list = nltk.word_tokenize(np.array(X_train)[i])
    lemmatized_output = ' '.join([lemmatizer.lemmatize(w) for w in word_list])
    X_train_lemmatized.append(lemmatized_output)

In [15]:
X_train_lemmatized[:5]

['@ PamelaGeller @ TheDemocrats @ Ilhan @ RashidaTlaib # KKK @ GOP WE ARE AGAINST SLAVERY ! ! ! ! ! ! ! ! ! ! !',
 '@ jack_obrien called white extremist Vanilla Isis',
 "British Teen dubbed 'Osama Bin Bieber ' Who Joined Caliphate Is Killed by ISIS for Being Spy via @ gatewaypundit",
 'ISIS fanatic captured in Syria just want to eat McDonalds A British ISIS fanatic nicknamed Hungry Hamza ha been captured in Syria but he ...',
 "@ LeaveEUOfficial Labour would just let the entire third world move here if they got in . Like they do every time they get in . Corbyns regime would be like that madhouse Swedish government who give taxpayer funded condo 's to returning ISIS member ."]

for i in range(len(X_train_lemmatized)):
    splitted_tweet = list(X_train_lemmatized[i])
    splitted_tweet.pop(0)
    unsplitted_tweet = ''.join(splitted_tweet)
    X_train_lemmatized[i] = unsplitted_tweet

X_train_lemmatized[0]

In [82]:
from sklearn.pipeline import Pipeline

from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, cross_val_predict
from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score, roc_curve, precision_recall_curve, classification_report
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, TfidfTransformer
from sklearn.naive_bayes import MultinomialNB, BernoulliNB

In [83]:
#count_vect = CountVectorizer(lowercase=True, stop_words='english', ngram_range=(1, 2))
#count_vect = CountVectorizer(lowercase=True, stop_words='english')
#count_vect = CountVectorizer(lowercase=True, stop_words='english', binary=True)
count_vect = CountVectorizer()


X_train_counts = count_vect.fit_transform(X_train_lemmatized)
print(X_train_counts.shape)

print("Type of the occurance count matrix (should be sparse): ")
print(type(X_train_counts))

X_test_counts = count_vect.transform(X_test)
print(X_test_counts.shape)

tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
print(X_train_tfidf.shape)

X_test_tfidf = tfidf_transformer.transform(X_test_counts)
print(X_test_tfidf.shape)

(11783, 26385)
Type of the occurance count matrix (should be sparse):
<class 'scipy.sparse.csr.csr_matrix'>
(2945, 26385)
(11783, 26385)
(2945, 26385)

In [18]:
def lemmatize_stemming(text):
    return WordNetLemmatizer().lemmatize(text, pos='v')
def preprocess(text):
    result = []
    for token in gensim.utils.simple_preprocess(text):
        if token not in gensim.parsing.preprocessing.STOPWORDS and len(token) > 3:
            result.append(lemmatize_stemming(token))
    return result

In [27]:
X_train_counts[0]

<1x50575 sparse matrix of type '<class 'numpy.int64'>'
	with 15 stored elements in Compressed Sparse Row format>

## Topic Modeling

In [19]:
import gensim
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import STOPWORDS
from nltk.stem import WordNetLemmatizer, SnowballStemmer
from nltk.stem.porter import *
import numpy as np
np.random.seed(2018)
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\vdoan\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [21]:
processed_tweet = preprocess(X_train)

In [11]:
processed_tweet

[]

In [17]:
df['Text']

0        b'Meanwhile, at the Hall of Justice...The Supe...
1        b'Bodily autonomy is important and it should n...
2        b'"Georgia Senate OKs Governor-Backed \'Heartb...
3        b'"I aborted my SB baby so that they wouldn\'t...
4        b'This is what 2020 is all about. If we lose i...
5                          b'THIS IS BEYOND ABSURD. \nLOL'
6        b'@SenWarren @GOPHELP First of all pregnancy i...
7        b'@JohnFugelsang Kinda random, but I\xe2\x80\x...
8        b'This sentence is worded in a way that is muc...
9        b'This is a great tip for life, not even just ...
10       b'A thread on six week abortion bans being tot...
11       b'Can\xe2\x80\x99t remember the last time I\xe...
12       b"When my mom was expecting me my dad wanted h...
13                b'This is my mom everytime i make a pun'
14       b'Suicide? Nah more like late term abortion. T...
15       b"@ktbenner @benshapiro Shorter: #Mueller Repo...
16       b"At the Chinese restaurant where I'm eating a...
17                                b'Florida gonna Florida'
18       b'Georgia Senate passes anti-abortion \xe2\x80...
19       b'@WalshFreedom Why are you for the killing of...
20                      b'actually it is my choice reagan'
21       b"Georgia Lawmaker Responds To 'Heartbeat' Abo...
22       b'@Karenalilly2 @jennygadget @NARAL Where were...
23       b'The anti-abortion \xe2\x80\x9cheartbeat\xe2\...
24       b'Pro-life\xe2\x9d\xa4\xef\xb8\x8f https://t.c...
25       b'Trusting women and asking them to accept the...
26       b'"\'When I saw this [ultrasound abortion] tak...
27       b'this is how i feel about trump supporters. a...
28       b"PUBS AND LAWS SHOULD STILL GO FORWARDS\n\nE....
29       b"@system76 Digging my new Darter Pro arrived ...
                               ...
29303    b'Thread by @AllisonforMD: "THIS. Read history...
29304    b'In an infinite universe, at some point, Appl...
29305              b'so you\xe2\x80\x99re pro-choice then'
29306    b"@HillaryClinton @Alyssa_Milano @ilyseh There...
29307    b"@Bashynx @spooky_tsalagi And just because pe...
29308    b"@thewoolf_ATL I will never support men and t...
29309    b'@RobertJohnDavi The contract with the surrog...
29310    b'@CBSNews The Democratic Party and their atta...
29311    b'@ProfFionasm Or at least these used to be co...
29312    b'@IngrahamAngle People who freak out about th...
29313    b'@ChrisCuomo @RickSantorum @mshields007 @Cort...
29314    b'@KingCountyTV @DanSatterberg @waDSHS @Muslim...
29315    b'@christiancrc127 One more thing. It will nev...
29316    b'@neenee_annette @toriladybuguk @Networkinman...
29317    b'@ExMissionary @rusdolboy @arensb @johnnymac2...
29318                                                b'..'
29319    b'Beats new Powerbeats Pro are AirPods with lo...
29320    b'"I can\'t govern because I\'m worried about ...
29321    b'@LauraPa38616480 @historic_roots1 @GheyYu @r...
29322    b'@AAndrewslatam @DLoesch Maybe shilling for m...
29323         b'i can\xe2\x80\x99t have a gf OR do anal?!'
29324                b'Whose the boss now, Alyssa Milano?'
29325    b'Free contraceptive. Free, legal abortion. At...
29326    b'Gabrielle Union, Don Cheadle, Alyssa Milano ...
29327    b'Gaahhhh daaaammmnnn\xf0\x9f\xa4\xa6\xf0\x9f\...
29328    b'@daracohen @kurteichenwald I can\'t find any...
29329    b'@Speech14B Make the right decision be pro life'
29330    b"Of course he does.  They're all reading from...
29331    b'Six-week abortion bans are effectively an ou...
29332    b'@AIIAmericanGirI @BreitbartNews And you woul...
Name: Text, Length: 29333, dtype: object

In [23]:
processed_docs = df['tweets'].map(preprocess)

In [40]:
dictionary = gensim.corpora.Dictionary(processed_docs)

count = 0
for k, v in dictionary.iteritems():
    print(k, v)
    count += 1
    if count > 10:
        break

0 eastern
1 flag
2 fly
3 isis
4 single
5 syria
6 lccqt
7 capture
8 fighters
9 group
10 international

In [24]:
processed_docs[:10]

0            [single, isis, flag, fly, eastern, syria]
1                                        [lccqt, isis]
2    [islamic, state, group, syria, kurds, internat...
3                           [celebrate, success, isis]
4                                        [today, isis]
5    [codepink, secpompeo, support, terrorism, regi...
6    [kurdish, administration, northern, syria, cal...
7                                   [absolutely, spot]
8                                        [obama, isis]
9                          [menolak, keberadaan, isis]
Name: tweets, dtype: object

In [25]:
dictionary.filter_extremes(no_below=15, no_above=0.5, keep_n=100000)

In [26]:
bow_corpus = [dictionary.doc2bow(doc) for doc in processed_docs]

In [27]:
from gensim import corpora, models
tfidf = models.TfidfModel(bow_corpus)
corpus_tfidf = tfidf[bow_corpus]

In [28]:
lda_model_tfidf = gensim.models.LdaMulticore(corpus_tfidf, num_topics=10, id2word=dictionary, passes=2, workers=4)
for idx, topic in lda_model_tfidf.print_topics(-1):
    print('Topic: {} Word: {}'.format(idx, topic))

Topic: 0 Word: 0.025*"trump" + 0.019*"country" + 0.016*"forget" + 0.014*"defeat" + 0.013*"general" + 0.012*"know" + 0.011*"stay" + 0.010*"good" + 0.010*"read" + 0.010*"group"
Topic: 1 Word: 0.026*"muslim" + 0.017*"kill" + 0.016*"know" + 0.016*"dont" + 0.015*"need" + 0.013*"send" + 0.013*"like" + 0.012*"plan" + 0.012*"islam" + 0.012*"picture"
Topic: 2 Word: 0.041*"defeat" + 0.027*"general" + 0.026*"trump" + 0.025*"go" + 0.023*"time" + 0.022*"black" + 0.015*"target" + 0.014*"people" + 0.012*"islam" + 0.011*"want"
Topic: 3 Word: 0.023*"state" + 0.020*"take" + 0.018*"chance" + 0.016*"bride" + 0.016*"second" + 0.014*"international" + 0.013*"wrong" + 0.012*"say" + 0.012*"report" + 0.012*"give"
Topic: 4 Word: 0.024*"join" + 0.020*"islam" + 0.019*"news" + 0.019*"people" + 0.019*"right" + 0.018*"muslim" + 0.017*"win" + 0.017*"caliphate" + 0.016*"kill" + 0.015*"terrorist"
Topic: 5 Word: 0.024*"like" + 0.023*"say" + 0.013*"attack" + 0.013*"create" + 0.012*"state" + 0.012*"help" + 0.012*"fight" + 0.011*"leave" + 0.010*"know" + 0.010*"white"
Topic: 6 Word: 0.044*"join" + 0.041*"kill" + 0.035*"caliphate" + 0.027*"gatewaypundit" + 0.025*"fight" + 0.021*"come" + 0.016*"call" + 0.016*"murder" + 0.012*"taliban" + 0.011*"like"
Topic: 7 Word: 0.017*"claim" + 0.016*"destroy" + 0.016*"love" + 0.014*"bride" + 0.012*"anti" + 0.012*"know" + 0.011*"fanatic" + 0.011*"group" + 0.011*"believe" + 0.011*"defeat"
Topic: 8 Word: 0.040*"target" + 0.029*"support" + 0.026*"think" + 0.021*"account" + 0.021*"iceisis" + 0.020*"opiceisis" + 0.019*"terrorist" + 0.014*"like" + 0.014*"need" + 0.013*"recruit"
Topic: 9 Word: 0.035*"say" + 0.025*"card" + 0.023*"pay" + 0.021*"trump" + 0.015*"world" + 0.014*"free" + 0.014*"probably" + 0.014*"president" + 0.013*"religion" + 0.013*"thats"

In [29]:
for index, score in sorted(lda_model_tfidf[bow_corpus[4310]], key=lambda tup: -1*tup[1]):
    print("\nScore: {}\t \nTopic: {}".format(score, lda_model_tfidf.print_topic(index, 10)))

Score: 0.5499613881111145
Topic: 0.017*"claim" + 0.016*"destroy" + 0.016*"love" + 0.014*"bride" + 0.012*"anti" + 0.012*"know" + 0.011*"fanatic" + 0.011*"group" + 0.011*"believe" + 0.011*"defeat"

Score: 0.05000876262784004
Topic: 0.041*"defeat" + 0.027*"general" + 0.026*"trump" + 0.025*"go" + 0.023*"time" + 0.022*"black" + 0.015*"target" + 0.014*"people" + 0.012*"islam" + 0.011*"want"

Score: 0.050007034093141556
Topic: 0.040*"target" + 0.029*"support" + 0.026*"think" + 0.021*"account" + 0.021*"iceisis" + 0.020*"opiceisis" + 0.019*"terrorist" + 0.014*"like" + 0.014*"need" + 0.013*"recruit"

Score: 0.050004541873931885
Topic: 0.026*"muslim" + 0.017*"kill" + 0.016*"know" + 0.016*"dont" + 0.015*"need" + 0.013*"send" + 0.013*"like" + 0.012*"plan" + 0.012*"islam" + 0.012*"picture"

Score: 0.05000391602516174
Topic: 0.024*"join" + 0.020*"islam" + 0.019*"news" + 0.019*"people" + 0.019*"right" + 0.018*"muslim" + 0.017*"win" + 0.017*"caliphate" + 0.016*"kill" + 0.015*"terrorist"

Score: 0.050003450363874435
Topic: 0.044*"join" + 0.041*"kill" + 0.035*"caliphate" + 0.027*"gatewaypundit" + 0.025*"fight" + 0.021*"come" + 0.016*"call" + 0.016*"murder" + 0.012*"taliban" + 0.011*"like"

Score: 0.05000316724181175
Topic: 0.035*"say" + 0.025*"card" + 0.023*"pay" + 0.021*"trump" + 0.015*"world" + 0.014*"free" + 0.014*"probably" + 0.014*"president" + 0.013*"religion" + 0.013*"thats"

Score: 0.0500025749206543
Topic: 0.025*"trump" + 0.019*"country" + 0.016*"forget" + 0.014*"defeat" + 0.013*"general" + 0.012*"know" + 0.011*"stay" + 0.010*"good" + 0.010*"read" + 0.010*"group"

Score: 0.0500025749206543
Topic: 0.023*"state" + 0.020*"take" + 0.018*"chance" + 0.016*"bride" + 0.016*"second" + 0.014*"international" + 0.013*"wrong" + 0.012*"say" + 0.012*"report" + 0.012*"give"

Score: 0.0500025749206543
Topic: 0.024*"like" + 0.023*"say" + 0.013*"attack" + 0.013*"create" + 0.012*"state" + 0.012*"help" + 0.012*"fight" + 0.011*"leave" + 0.010*"know" + 0.010*"white"

Add top 10 topics as features

# Naive Bayes

In [84]:
len(X_train_tfidf.toarray())

11783

In [85]:
len(y_train)

11783

In [86]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train_tfidf.toarray(),y_train)
y_predict = gnb.predict(X_test_tfidf.toarray())

In [88]:
from sklearn.metrics import accuracy_score

accuracy_score(y_predict,y_test)

1.0

In [89]:
from sklearn.naive_bayes import BernoulliNB
clf = BernoulliNB()
clf.fit(X_train_tfidf.toarray(), y_train)
y_predict = clf.predict(X_test_tfidf.toarray())

C:\Users\vdoan\Anaconda3\lib\site-packages\sklearn\naive_bayes.py:465: RuntimeWarning: divide by zero encountered in log
  self.class_log_prior_ = (np.log(self.class_count_) -

In [90]:
accuracy_score(y_predict,y_test)

1.0

In [ ]:
import nltk
from nltk import word_tokenize
from nltk.util import ngrams
from collections import Counter

In [ ]:
bigrams = ngrams(token,2)
trigrams = ngrams(token,3)
fourgrams = ngrams(token,4)
fivegrams = ngrams(token,5)

In [ ]:
for i in range(len(X_train_lemmatized)):
    splitted_tweet = list(X_train_lemmatized[i])
    splitted_tweet.pop(0)
    unsplitted_tweet = ''.join(splitted_tweet)
    X_train_lemmatized[i] = unsplitted_tweet

In [ ]:
def create_ngram_features(words, n=2):
    ngram_vocab = ngrams(words, n)
    my_dict = dict([(ng, True) for ng in ngram_vocab])
    return my_dict

for n in [1,2,3,4,5]:
    X_ngram = []
    for i in range(len(X_train_lemmatized)):
        words = X_train_lemmatized[i]
        X_ngram.append(create_ngram_features(words, n))    
    
    train_set = pos_data[:800] + neg_data[:800]
    test_set =  pos_data[800:] + neg_data[800:]

    model = 

    accuracy = nltk.classify.util.accuracy(classifier, test_set)
    print(str(n)+'-gram accuracy:', accuracy)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import make_pipeline

model = make_pipeline(TfidfVectorizer(), MultinomialNB())
model.fit(train.data, train.target)
labels = model.predict(test.data)