In [1]:
import pandas as pd 
df = pd.read_csv("relabeled_first_half.csv") 
df.head()

   label                                             tweets
0      0  Not a single ISIS flag is flying as far as the...
1      0                              @ni04Ep3Xt4lcCqT ISIS
2      0  Islamic State group: Syria's Kurds call for in...
3      0                 #YPJ celebrates success over #ISIS
4      0                                   Not today, Isis

In [2]:
len(df)

7294

In [3]:
df_isis = pd.read_csv("tweets.csv")
df_isis.head()

,label,description,tweets
0,NaN,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,ENGLISH TRANSLATION: 'A MESSAGE TO THE TRUTHFU...
1,NaN,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,ENGLISH TRANSLATION: SHEIKH FATIH AL JAWLANI '...
2,NaN,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,ENGLISH TRANSLATION: FIRST AUDIO MEETING WITH ...
3,NaN,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,ENGLISH TRANSLATION: SHEIKH NASIR AL WUHAYSHI ...
4,NaN,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,ENGLISH TRANSLATION: AQAP: 'RESPONSE TO SHEIKH...

In [101]:
df_isis['label'] = 1

In [102]:
df_isis.head()

,label,description,tweets
0,1,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,ENGLISH TRANSLATION: 'A MESSAGE TO THE TRUTHFU...
1,1,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,ENGLISH TRANSLATION: SHEIKH FATIH AL JAWLANI '...
2,1,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,ENGLISH TRANSLATION: FIRST AUDIO MEETING WITH ...
3,1,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,ENGLISH TRANSLATION: SHEIKH NASIR AL WUHAYSHI ...
4,1,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,ENGLISH TRANSLATION: AQAP: 'RESPONSE TO SHEIKH...

In [103]:
df_isis = df_isis.drop(columns=['description'])

In [104]:
df_isis.head()

   label                                             tweets
0      1  ENGLISH TRANSLATION: 'A MESSAGE TO THE TRUTHFU...
1      1  ENGLISH TRANSLATION: SHEIKH FATIH AL JAWLANI '...
2      1  ENGLISH TRANSLATION: FIRST AUDIO MEETING WITH ...
3      1  ENGLISH TRANSLATION: SHEIKH NASIR AL WUHAYSHI ...
4      1  ENGLISH TRANSLATION: AQAP: 'RESPONSE TO SHEIKH...

In [105]:
frames = [df, df_isis]
df = pd.concat(frames)

In [107]:
df.head()

   label                                             tweets
0      0  Not a single ISIS flag is flying as far as the...
1      0                              @ni04Ep3Xt4lcCqT ISIS
2      0  Islamic State group: Syria's Kurds call for in...
3      0                 #YPJ celebrates success over #ISIS
4      0                                   Not today, Isis

In [76]:
from sklearn.utils import shuffle
df = shuffle(df)

In [108]:
df.head()

   label                                             tweets
0      0  Not a single ISIS flag is flying as far as the...
1      0                              @ni04Ep3Xt4lcCqT ISIS
2      0  Islamic State group: Syria's Kurds call for in...
3      0                 #YPJ celebrates success over #ISIS
4      0                                   Not today, Isis

In [109]:
df['label'].value_counts()

1    17410
0     7294
Name: label, dtype: int64

df_first = df[:10000]
df_second = df[10000:20000]
df_third = df[20000:25000]
df_fourth = df[25000:]

df_first.to_csv('first.csv')
df_second.to_csv('second.csv')
df_third.to_csv('third.csv')
df_fourth.to_csv('fourth.csv')

In [4]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sns

import nltk
nltk.download('wordnet')

from nltk.stem import WordNetLemmatizer 
from wordcloud import WordCloud

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\vdoan\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [5]:
data = df['Text'].values.tolist()

data = [re.sub("\'", "", sent) for sent in data]

NameError: name 're' is not defined

In [11]:
def partition(X, y, t):
    X_test = X[:int(t*len(X))]
    y_test = y[:int(t*len(y))]
    X_train = X[int(t*len(X)):]
    y_train = y[int(t*len(y)):]
    
    return X_train, y_train, X_test, y_test
df.dropna(inplace=True)

X = df['tweets']
y = df['label']

# X = (X - X.mean())/X.std()

X_train, y_train, X_test, y_test = partition(X, y, 0.2)

In [79]:
len(X_train)

11783

In [80]:
len(y_train)

11783

X_train = np.array(df["Text"])

In [8]:
X_train

1459    @PamelaGeller  @TheDemocrats  @Ilhan  @Rashida...
1460     @jack_obrien called white extremist Vanilla Isis
1461    British Teen dubbed 'Osama Bin Bieber' Who Joi...
1462    ISIS fanatic captured in Syria just wants to e...
1463    @LeaveEUOfficial Labour would just let the ent...
1464    @akemor You don't have the slightest clue what...
1465     Watching these ISIS militants fight is cringy af
1466    ISIS fanatic captured in Syria just wants to e...
1467                                               #NAME?
1468    @Giveanid_ You r pakistani agent. Go  to siriy...
1469    @myogiadityanath Rahul is fighting election wi...
1470    Improved security conditions in #Kandahar lead...
1471    @bushontheradio when did you join isis Bush ma...
1472    Hoda Muthana should NEVER be allowed back into...
1473    HaHaHa! The only way ISIS can save their futur...
1474    CNN - INTERNATIONAL_THE LEAST  TRUSTED  NAME_I...
1475                                                 ISIS
1476    Isis bride screwed up now live with it. She th...
1477    @capt_amarinder Sir, 1 dy we die bt Pls Sve ur...
1478    @RT_com You can wear whatever you want except ...
1479    @guardian Martin Selner is a terrorist because...
1480    @darinp2 @charliekirk11 @realDonaldTrump Where...
1481    ISIS fanatic captured in Syria just wants to e...
1482    Targeted #ISIS accounts   #targets #iceisis #o...
1483     Very funny! Would be funnier if it wasn't so ...
1484    ISIS fanatic captured in Syria just wants to e...
1485    Islamist States Claims Responsibility Of Abduc...
1486    @rssurjewala Sir, 1 dy we die bt Pls Sve ur G....
1487       That interview with the ISIS bride says it all
1488    @jordanbpeterson Because ISIS was created to l...
                              ...
7264    @JewsMatterToMe Now I get it, you're emotional...
7265    Now INDIA GOVT. CORRUPTED ARMY should take rig...
7266    This update can\'t finished without some borin...
7267    @TrumpWarRoom @RickPamplin @JerryNadler When w...
7268    How Trump Betrayed the General Who Defeated ISIS
7269    India having own TERRORIST MODULE's safe heave...
7270    Erdogan to be Trump's fixer'against IS in Syri...
7271    @itsnicholaifyi @nzpolice So why dont we hide ...
7272    @kealyj I was always a bit lukewarm about Isis...
7273    @RealKyleMorris @StumpforTrump @PressSec Per @...
7274    @GrantTucker Ha very good. - I knew someone ca...
7275                 Check the last month's update here:
7276    @top10kazmi @HamasInfoEn But you support Hamas...
7277    @markrobertson6 @JustinTrudeau @PresidentRuvi ...
7278    How SC Dr. Kanchana Gopinath SONY INDIA PVT. L...
7279    @AhmedLoonat You disingenuous, disturbingly ar...
7280    @IlhanMN prove you're not ISIS sympathizer by ...
7281    How Trump Betrayed the General Who Defeated ISIS
7282    Not even that now also a SC greedy LADY "CHUDN...
7283    How SC Dr. Kanchana Gopinath SONY INDIA PVT. L...
7284                      @TheSun Kill all Isis . Please
7285    There Are No Girls Left: Syrias Christian Vill...
7286    New pro-ISIS poster threatens United States an...
7287    To understand why people in Rojava claim that ...
7288    There were 190,410 layoffs in the first quarte...
7289    Free a hero now for killing an ISIS terrorist,...
7290    Ravelock Owen Van Atwell Solomon Le Bonefield ...
7291    @KimStrassel @drawandstrike Per @heyitsCarolyn...
7292    @MohammedAkunjee Where's the money coming from...
7293    Not to neglect the exiles. But they already ha...
Name: tweets, Length: 5831, dtype: object

In [9]:
type(np.array(X_train)[0])

str

In [11]:
nltk.word_tokenize(np.array(X_train)[4])

['@',
 'LeaveEUOfficial',
 'Labour',
 'would',
 'just',
 'let',
 'the',
 'entire',
 'third',
 'world',
 'move',
 'here',
 'if',
 'they',
 'got',
 'in',
 '.',
 'Like',
 'they',
 'do',
 'every',
 'time',
 'they',
 'get',
 'in',
 '.',
 'Corbyns',
 'regime',
 'would',
 'be',
 'like',
 'that',
 'madhouse',
 'Swedish',
 'government',
 'who',
 'gives',
 'taxpayer',
 'funded',
 'condo',
 "'s",
 'to',
 'returning',
 'ISIS',
 'members',
 '.']

In [18]:
np.array(X_train)[0]

'@IanDunt Retweet some ISIS stuff then, Jacob.'

In [14]:
X_train = np.array(X_train)

In [81]:
lemmatizer = WordNetLemmatizer()

X_train_lemmatized = []

for i in range(len(X_train)):
    word_list = nltk.word_tokenize(np.array(X_train)[i])
    lemmatized_output = ' '.join([lemmatizer.lemmatize(w) for w in word_list])
    X_train_lemmatized.append(lemmatized_output)

In [15]:
X_train_lemmatized[:5]

['@ PamelaGeller @ TheDemocrats @ Ilhan @ RashidaTlaib # KKK @ GOP WE ARE AGAINST SLAVERY ! ! ! ! ! ! ! ! ! ! !',
 '@ jack_obrien called white extremist Vanilla Isis',
 "British Teen dubbed 'Osama Bin Bieber ' Who Joined Caliphate Is Killed by ISIS for Being Spy via @ gatewaypundit",
 'ISIS fanatic captured in Syria just want to eat McDonalds A British ISIS fanatic nicknamed Hungry Hamza ha been captured in Syria but he ...',
 "@ LeaveEUOfficial Labour would just let the entire third world move here if they got in . Like they do every time they get in . Corbyns regime would be like that madhouse Swedish government who give taxpayer funded condo 's to returning ISIS member ."]

for i in range(len(X_train_lemmatized)):
    splitted_tweet = list(X_train_lemmatized[i])
    splitted_tweet.pop(0)
    unsplitted_tweet = ''.join(splitted_tweet)
    X_train_lemmatized[i] = unsplitted_tweet

X_train_lemmatized[0]

In [82]:
from sklearn.pipeline import Pipeline

from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, cross_val_predict
from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score, roc_curve, precision_recall_curve, classification_report
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, TfidfTransformer
from sklearn.naive_bayes import MultinomialNB, BernoulliNB

In [83]:
#count_vect = CountVectorizer(lowercase=True, stop_words='english', ngram_range=(1, 2))
#count_vect = CountVectorizer(lowercase=True, stop_words='english')
#count_vect = CountVectorizer(lowercase=True, stop_words='english', binary=True)
count_vect = CountVectorizer()


X_train_counts = count_vect.fit_transform(X_train_lemmatized)
print(X_train_counts.shape)

print("Type of the occurance count matrix (should be sparse): ")
print(type(X_train_counts))

X_test_counts = count_vect.transform(X_test)
print(X_test_counts.shape)

tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
print(X_train_tfidf.shape)

X_test_tfidf = tfidf_transformer.transform(X_test_counts)
print(X_test_tfidf.shape)

(11783, 26385)
Type of the occurance count matrix (should be sparse):
<class 'scipy.sparse.csr.csr_matrix'>
(2945, 26385)
(11783, 26385)
(2945, 26385)

In [9]:
def lemmatize_stemming(text):
    return WordNetLemmatizer().lemmatize(text, pos='v')
def preprocess(text):
    result = []
    for token in gensim.utils.simple_preprocess(text):
        if token not in gensim.parsing.preprocessing.STOPWORDS and len(token) > 3:
            result.append(lemmatize_stemming(token))
    return result

In [27]:
X_train_counts[0]

<1x50575 sparse matrix of type '<class 'numpy.int64'>'
	with 15 stored elements in Compressed Sparse Row format>

## Topic Modeling

In [15]:
import gensim
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import STOPWORDS
from nltk.stem import WordNetLemmatizer, SnowballStemmer
from nltk.stem.porter import *
import numpy as np
np.random.seed(2018)
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\vdoan\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [16]:
processed_tweet = preprocess(X_train)

In [17]:
processed_tweet

[]

In [18]:
df['Text']

KeyError: 'Text'

In [19]:
processed_docs = df['tweets'].map(preprocess)

In [20]:
dictionary = gensim.corpora.Dictionary(processed_docs)

count = 0
for k, v in dictionary.iteritems():
    print(k, v)
    count += 1
    if count > 10:
        break

0 eastern
1 flag
2 fly
3 isis
4 single
5 syria
6 lccqt
7 capture
8 fighters
9 group
10 international

In [24]:
processed_docs[:10]

0            [single, isis, flag, fly, eastern, syria]
1                                        [lccqt, isis]
2    [islamic, state, group, syria, kurds, internat...
3                           [celebrate, success, isis]
4                                        [today, isis]
5    [codepink, secpompeo, support, terrorism, regi...
6    [kurdish, administration, northern, syria, cal...
7                                   [absolutely, spot]
8                                        [obama, isis]
9                          [menolak, keberadaan, isis]
Name: tweets, dtype: object

In [21]:
dictionary.filter_extremes(no_below=15, no_above=0.5, keep_n=100000)

In [22]:
bow_corpus = [dictionary.doc2bow(doc) for doc in processed_docs]

In [23]:
from gensim import corpora, models
tfidf = models.TfidfModel(bow_corpus)
corpus_tfidf = tfidf[bow_corpus]

In [24]:
lda_model_tfidf = gensim.models.LdaMulticore(corpus_tfidf, num_topics=10, id2word=dictionary, passes=2, workers=4)
for idx, topic in lda_model_tfidf.print_topics(-1):
    print('Topic: {} Word: {}'.format(idx, topic))

Topic: 0 Word: 0.030*"target" + 0.017*"account" + 0.016*"opiceisis" + 0.016*"iceisis" + 0.011*"india" + 0.009*"syria" + 0.008*"terrorist" + 0.008*"trump" + 0.007*"simi" + 0.007*"follow"
Topic: 1 Word: 0.011*"news" + 0.010*"win" + 0.008*"terrorist" + 0.007*"people" + 0.007*"say" + 0.007*"forget" + 0.007*"continue" + 0.007*"shit" + 0.007*"dont" + 0.006*"fall"
Topic: 2 Word: 0.011*"think" + 0.011*"like" + 0.008*"love" + 0.008*"syria" + 0.008*"right" + 0.007*"fight" + 0.007*"youre" + 0.007*"fighter" + 0.007*"true" + 0.006*"slave"
Topic: 3 Word: 0.012*"kill" + 0.010*"join" + 0.009*"fuck" + 0.009*"call" + 0.009*"say" + 0.009*"british" + 0.008*"osama" + 0.008*"target" + 0.008*"bieber" + 0.008*"report"
Topic: 4 Word: 0.013*"syria" + 0.011*"muslim" + 0.009*"support" + 0.009*"saudi" + 0.008*"fight" + 0.008*"terrorists" + 0.007*"attack" + 0.007*"like" + 0.007*"send" + 0.007*"arabia"
Topic: 5 Word: 0.012*"people" + 0.009*"want" + 0.008*"terrorists" + 0.008*"syria" + 0.007*"like" + 0.007*"go" + 0.007*"target" + 0.006*"stop" + 0.006*"fight" + 0.006*"bomb"
Topic: 6 Word: 0.022*"defeat" + 0.018*"general" + 0.017*"betray" + 0.016*"trump" + 0.010*"come" + 0.010*"time" + 0.010*"kill" + 0.009*"say" + 0.009*"join" + 0.009*"know"
Topic: 7 Word: 0.012*"know" + 0.012*"trump" + 0.011*"leave" + 0.010*"president" + 0.009*"need" + 0.009*"look" + 0.009*"like" + 0.008*"kill" + 0.008*"target" + 0.008*"destroy"
Topic: 8 Word: 0.013*"join" + 0.011*"islam" + 0.011*"syria" + 0.008*"twitter" + 0.007*"terrorist" + 0.007*"good" + 0.007*"thank" + 0.007*"muslims" + 0.007*"agree" + 0.006*"like"
Topic: 9 Word: 0.011*"syria" + 0.011*"want" + 0.010*"join" + 0.009*"muslim" + 0.008*"iran" + 0.008*"say" + 0.008*"women" + 0.007*"islam" + 0.006*"know" + 0.006*"kill"

In [33]:
id2word = corpora.Dictionary(processed_docs)

# Create Corpus: Term Document Frequency
corpus = [id2word.doc2bow(text) for text in processed_docs]

# Build LDA model
lda_model = gensim.models.ldamodel.LdaModel(corpus=corpus,
                                           id2word=id2word,
                                           num_topics=4, 
                                           random_state=100,
                                           update_every=1,
                                           chunksize=10,
                                           passes=10,
                                           alpha='symmetric',
                                           iterations=100,
                                           per_word_topics=True)

In [39]:
def format_topics_sentences(ldamodel=None, corpus=bow_corpus, texts=processed_docs):
    sent_topics_df = pd.DataFrame()
    
    for i, row_list in enumerate(ldamodel[corpus]):
        row = row_list[0] if ldamodel.per_word_topics else row_list
        row = sorted(row, key=lambda x: (x[1]), reverse=True)
        for j, (topic_num,prop_topic) in enumerate(row):
            if j == 0:
                wp = ldamodel.show_topic(topic_num)
                topic_keywords = ", ".join([word for word, prop in wp])
                sent_topics_df = sent_topics_df.append(pd.Series([int(topic_num), round(prop_topic,4), topic_keywords]), ignore_index=True)
            else:
                break
    sent_topics_df.columns = ['Dominant_Topic', 'Perc_Contribution', 'Topic_Keywords']
    
    contents = pd.Series(texts)
    sent_topics_df = pd.concat([sent_topics_df, contents], axis=1)
    return(sent_topics_df)

In [40]:
df_topic_sents_keywords = format_topics_sentences(ldamodel=lda_model, corpus=corpus, texts=processed_docs)
df_dominant_topic = df_topic_sents_keywords.reset_index()
df_dominant_topic.columns = ['Document_No', 'Dominant_Topic', 'Topic_Perc_Contrib', 'Keywords', 'Text']
df_dominant_topic.head(10)

,Document_No,Dominant_Topic,Topic_Perc_Contrib,Keywords,Text
0,0,1.0,0.6557,"isis, syria, want, people, help, fight, realdo...","[single, isis, flag, fly, eastern, syria]"
1,1,2.0,0.7165,"isis, target, iraq, women, account, years, ret...","[lccqt, isis]"
2,2,1.0,0.5296,"isis, syria, want, people, help, fight, realdo...","[islamic, state, group, syria, kurds, internat..."
3,3,2.0,0.4673,"isis, target, iraq, women, account, years, ret...","[celebrate, success, isis]"
4,4,2.0,0.7435,"isis, target, iraq, women, account, years, ret...","[today, isis]"
5,5,1.0,0.7474,"isis, syria, want, people, help, fight, realdo...","[codepink, secpompeo, support, terrorism, regi..."
6,6,1.0,0.7531,"isis, syria, want, people, help, fight, realdo...","[kurdish, administration, northern, syria, cal..."
7,7,3.0,0.7481,"isis, defeat, terrorist, general, india, betra...","[absolutely, spot]"
8,8,1.0,0.7391,"isis, syria, want, people, help, fight, realdo...","[obama, isis]"
9,9,2.0,0.7827,"isis, target, iraq, women, account, years, ret...","[menolak, keberadaan, isis]"

In [41]:
len(df_dominant_topic)

7294

In [28]:
for index, score in sorted(lda_model_tfidf[bow_corpus[4310]], key=lambda tup: -1*tup[1]):
    print("\nScore: {}\t \nTopic: {}".format(score, lda_model_tfidf.print_topic(index, 20)))

Score: 0.5499593019485474
Topic: 0.011*"think" + 0.011*"like" + 0.008*"love" + 0.008*"syria" + 0.008*"right" + 0.007*"fight" + 0.007*"youre" + 0.007*"fighter" + 0.007*"true" + 0.006*"slave" + 0.006*"welcome" + 0.006*"join" + 0.006*"say" + 0.006*"anti" + 0.006*"christ" + 0.006*"story" + 0.006*"home" + 0.005*"trump" + 0.005*"plan" + 0.005*"issue"

Score: 0.05000864714384079
Topic: 0.013*"join" + 0.011*"islam" + 0.011*"syria" + 0.008*"twitter" + 0.007*"terrorist" + 0.007*"good" + 0.007*"thank" + 0.007*"muslims" + 0.007*"agree" + 0.006*"like" + 0.006*"realdonaldtrump" + 0.006*"kill" + 0.006*"group" + 0.005*"work" + 0.005*"stay" + 0.005*"muslim" + 0.005*"remember" + 0.005*"dont" + 0.005*"word" + 0.005*"convert"

Score: 0.05000774562358856
Topic: 0.022*"defeat" + 0.018*"general" + 0.017*"betray" + 0.016*"trump" + 0.010*"come" + 0.010*"time" + 0.010*"kill" + 0.009*"say" + 0.009*"join" + 0.009*"know" + 0.008*"syria" + 0.008*"british" + 0.008*"teen" + 0.008*"bieber" + 0.008*"osama" + 0.008*"dub" + 0.008*"caliphate" + 0.007*"state" + 0.006*"iraq" + 0.006*"want"

Score: 0.050004009157419205
Topic: 0.030*"target" + 0.017*"account" + 0.016*"opiceisis" + 0.016*"iceisis" + 0.011*"india" + 0.009*"syria" + 0.008*"terrorist" + 0.008*"trump" + 0.007*"simi" + 0.007*"follow" + 0.006*"obama" + 0.006*"wise" + 0.006*"get" + 0.005*"black" + 0.005*"solution" + 0.005*"maga" + 0.005*"defeat" + 0.005*"sony" + 0.005*"time" + 0.005*"hide"

Score: 0.0500037707388401
Topic: 0.012*"know" + 0.012*"trump" + 0.011*"leave" + 0.010*"president" + 0.009*"need" + 0.009*"look" + 0.009*"like" + 0.008*"kill" + 0.008*"target" + 0.008*"destroy" + 0.007*"america" + 0.006*"defeat" + 0.006*"camp" + 0.006*"go" + 0.006*"want" + 0.006*"syria" + 0.006*"today" + 0.006*"fight" + 0.006*"youtube" + 0.006*"betray"

Score: 0.05000336840748787
Topic: 0.012*"kill" + 0.010*"join" + 0.009*"fuck" + 0.009*"call" + 0.009*"say" + 0.009*"british" + 0.008*"osama" + 0.008*"target" + 0.008*"bieber" + 0.008*"report" + 0.007*"watch" + 0.007*"gatewaypundit" + 0.007*"teen" + 0.007*"dub" + 0.006*"caliphate" + 0.006*"like" + 0.006*"white" + 0.006*"shamima" + 0.006*"child" + 0.006*"know"

Score: 0.05000336468219757
Topic: 0.013*"syria" + 0.011*"muslim" + 0.009*"support" + 0.009*"saudi" + 0.008*"fight" + 0.008*"terrorists" + 0.007*"attack" + 0.007*"like" + 0.007*"send" + 0.007*"arabia" + 0.007*"group" + 0.006*"think" + 0.006*"sell" + 0.006*"weapons" + 0.006*"kill" + 0.006*"islam" + 0.005*"interest" + 0.005*"state" + 0.005*"nuclear" + 0.005*"children"

Score: 0.05000327154994011
Topic: 0.011*"news" + 0.010*"win" + 0.008*"terrorist" + 0.007*"people" + 0.007*"say" + 0.007*"forget" + 0.007*"continue" + 0.007*"shit" + 0.007*"dont" + 0.006*"fall" + 0.006*"expose" + 0.006*"leave" + 0.006*"inside" + 0.006*"america" + 0.006*"kill" + 0.006*"realdonaldtrump" + 0.005*"group" + 0.005*"trump" + 0.005*"white" + 0.005*"fake"

Score: 0.05000327154994011
Topic: 0.012*"people" + 0.009*"want" + 0.008*"terrorists" + 0.008*"syria" + 0.007*"like" + 0.007*"go" + 0.007*"target" + 0.006*"stop" + 0.006*"fight" + 0.006*"bomb" + 0.006*"defeat" + 0.006*"kiss" + 0.005*"women" + 0.005*"face" + 0.005*"trump" + 0.005*"say" + 0.005*"great" + 0.005*"world" + 0.005*"account" + 0.005*"wait"

Score: 0.05000327154994011
Topic: 0.011*"syria" + 0.011*"want" + 0.010*"join" + 0.009*"muslim" + 0.008*"iran" + 0.008*"say" + 0.008*"women" + 0.007*"islam" + 0.006*"know" + 0.006*"kill" + 0.006*"train" + 0.006*"like" + 0.005*"care" + 0.005*"british" + 0.005*"years" + 0.005*"fanatic" + 0.005*"capture" + 0.005*"hand" + 0.005*"jihadist" + 0.005*"bride"

Add top 10 topics as features

# Naive Bayes

In [84]:
len(X_train_tfidf.toarray())

11783

In [85]:
len(y_train)

11783

In [86]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train_tfidf.toarray(),y_train)
y_predict = gnb.predict(X_test_tfidf.toarray())

In [88]:
from sklearn.metrics import accuracy_score

accuracy_score(y_predict,y_test)

1.0

In [89]:
from sklearn.naive_bayes import BernoulliNB
clf = BernoulliNB()
clf.fit(X_train_tfidf.toarray(), y_train)
y_predict = clf.predict(X_test_tfidf.toarray())

C:\Users\vdoan\Anaconda3\lib\site-packages\sklearn\naive_bayes.py:465: RuntimeWarning: divide by zero encountered in log
  self.class_log_prior_ = (np.log(self.class_count_) -

In [90]:
accuracy_score(y_predict,y_test)

1.0

In [ ]:
import nltk
from nltk import word_tokenize
from nltk.util import ngrams
from collections import Counter

In [ ]:
bigrams = ngrams(token,2)
trigrams = ngrams(token,3)
fourgrams = ngrams(token,4)
fivegrams = ngrams(token,5)

In [ ]:
for i in range(len(X_train_lemmatized)):
    splitted_tweet = list(X_train_lemmatized[i])
    splitted_tweet.pop(0)
    unsplitted_tweet = ''.join(splitted_tweet)
    X_train_lemmatized[i] = unsplitted_tweet

In [ ]:
def create_ngram_features(words, n=2):
    ngram_vocab = ngrams(words, n)
    my_dict = dict([(ng, True) for ng in ngram_vocab])
    return my_dict

for n in [1,2,3,4,5]:
    X_ngram = []
    for i in range(len(X_train_lemmatized)):
        words = X_train_lemmatized[i]
        X_ngram.append(create_ngram_features(words, n))    
    
    train_set = pos_data[:800] + neg_data[:800]
    test_set =  pos_data[800:] + neg_data[800:]

    model = 

    accuracy = nltk.classify.util.accuracy(classifier, test_set)
    print(str(n)+'-gram accuracy:', accuracy)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import make_pipeline

model = make_pipeline(TfidfVectorizer(), MultinomialNB())
model.fit(train.data, train.target)
labels = model.predict(test.data)